body{
    width:336px;
    height: 780px;

}
div{
    text-align: center;
}
span{
    font-size: 40px;
    font-emphasize-style: Times;
}
#column1{
    margin-top: 210px;
}
#column2{
    margin-bottom: 248px;
}

#inputValue{
    font-size: 20px;
}
